API_BASE_URL=http://localhost:5050
NEXT_PUBLIC_BASE_URL=http://localhost:5050
NEXT_PUBLIC_API_LOCALE=
NEXT_PUBLIC_AUTH_PREFIX=auth
AUTH_API_PREFIX=auth
AUTH_API_LOCALE=
NEXTAUTH_SECRET=replace-with-long-random-secret
