@import "tailwindcss";

:root {
  --background: #f7fbfb;
  --foreground: #112121;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
  --color-primary: #0f8d8f;
  --color-primary-dark: #0a6668;
  --color-primary-light: #14b3b5;
  --color-dark-900: #112121;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), "Inter", sans-serif;
}
